@tailwind base;
@tailwind components;
@tailwind utilities;

@screen sm {
  #page-content {
    @apply max-w-screen-sm
  }
}

@screen md {
  #page-content {
    @apply max-w-screen-md
  }
}

@screen lg {
  #page-content {
    @apply max-w-screen-lg
  }
}

@screen xl {
  #page-content {
    @apply max-w-screen-xl
  }
}

@screen 2xl {
  #page-content {
    @apply max-w-screen-2xl
  }
}

@layer components {
  #page-wrapper {
    @apply flex
  }

  #page-content {
    @apply mx-auto
  }

  .sidebar {
    @apply bg-gray-50 border-r-2 border-gray-200
    h-screen w-64 px-3 py-4
  }

  .sidebar-button-list {
    @apply space-y-2 mb-8
  }

  .sidebar-button-list-item {

  }

  .sidebar-button {
    @apply flex p-2 gap-3 rounded-lg items-center
    text-base font-normal text-gray-900
    hover:bg-gray-200
  }

  .sidebar-button.active {
    @apply bg-gray-200
  }

  .sidebar-button-icon {
    @apply text-gray-500 w-6 h-6
  }

  .sidebar-button-text {
  }

  .sidebar-section {
    @apply space-y-1
  }

  .sidebar-section-heading {
    @apply uppercase text-gray-500 font-bold px-2
  }

  .header-nav {
    @apply py-4 px-6
  }

  .header-nav-title {
    @apply text-xl
  }

  .project-table-head {
    @apply bg-gray-100 border-y-2
  }

  .project-table-heading {
    @apply uppercase text-gray-500 font-bold text-sm text-left
    py-3 px-6
  }
}